<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JUnit Tests Suite">
    <test name="JUnit Tests">
        <classes>
            <!-- Replace with the fully qualified name of your JUnit test class -->
            <class name="Test_Runner.TestRunner"/>
        </classes>
    </test>
</suite>
